@import url(font-awesome.min.css);
*{
    margin: 0;
}
body{
    font-family: "Raleway", Helvetica, sans-serif;
    color: #444;
}
a{
    text-decoration: none;
    color: #fff;
}

.header h1{
    float: left;
}
.nav{
    text-align: right;
}
.nav ul li{
    display: inline;
    padding: 15px;
}
.nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    transition: color .2s ease-in-out;
}
.nav ul li a:hover{
    color: #ffffff;
}

.top-menu{
    padding: 40px;
}

.header{
    background-image: url(../img/dark_tint.png), url(../img/bokeh_car_lights_bg.jpg);
    background-position: center center;
    background-size: cover;
}
.btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw;
    color: #ffffff;
}
.btn-gray{
    background-color: #fff;
    color: #444;
}
.btn-big{
    font-size: 2.3vw;
}
.btn-blue{
    background-color: #3cadd4;
    color: #fff!important;
}
.banner-content{
    text-align: center;
    color: white;
    padding: 150px 0px;
}
.banner-content h2{
    font-size: 5vw;
    line-height: 130px;
}
.banner-content p{
    font-size: 2.3vw;
    margin-bottom: 50px;
}